.JourneyContainer{
    /* border: 1px solid green; */
    margin: 0 auto;
    width: 85%;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100vh; */
  position: relative;
}
.imageContainer{
   width: 100%;
   position: relative;
   bottom: 0;
}

.imageContainer h1{
    color: white;
    position: absolute;
    left: 35%;
    top:40%;
    font-size: 60px;
    font-family: 'PT Sans', sans-serif;

}

.imageContainer::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Adjust the height of the shadow as needed */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: 2;
  }

.imageContainer img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.bottomContainer{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    padding: 20px;
}

.bottomContent{
    border-left: 2px solid gray;
    width: 100%;
    height: 80%;
    padding: 0 20px 0 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottomTitle{
    color: white;
    font-size: 22px;
    font-family: 'PT Sans', sans-serif;

}
.bottomPara{
    color: white;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;

}
.timelineCircle{
    position: relative;
}
.timelineCircle:before{
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #ddd;
    position: absolute;
    top: 0px;
    left: -35px;
}

/* Mobile responsive styles */
@media (max-width: 767px) {
    .JourneyContainer {
      width: 100%;
      padding: 20px; /* Add some spacing around the content */
    }
  
    .imageContainer h1 {
      font-size: 40px; /* Adjust the font size for smaller screens */
      left: 20px; /* Adjust the position of the title */
      top: 20px;
      text-align: center;
      position: absolute;
      left: 20%;
      top:40%;
    }
  
    .imageContainer::after {
      height: 100px; /* Adjust the height of the shadow for smaller screens */
    }
  
    .imageContainer img {
      height: auto; /* Allow the image to scale with the screen width */
      max-width: 100%; /* Ensure the image fits within its container */
    }
  
    .bottomContainer {
      height: auto; /* Allow the container to expand based on content */
      padding: 10px; /* Add spacing around the content */
    }
  
    .bottomTitle {
      font-size: 20px; /* Adjust the font size for smaller screens */
    }
  
    .bottomPara {
      font-size: 14px; /* Adjust the font size for smaller screens */
    }
  
    .timelineCircle:before {
      left: -35px; /* Adjust the position of the timeline circle */
    }
  }