.headerContainer{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin: 30px auto;
}
.logoImg{
    object-fit: contain;
    height: 40px;
    width: 40px;
}

.NavContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.NavContainer .links{
    text-decoration: none;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.NavContainer .activeLinks{
    color: black;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-underline-offset: 7px;
    text-decoration-thickness: 1.3px;
}

.UserWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.UserWrapper span{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
   
}

.hamburger{
    display: none;
}

.mobileNav {
    display: none;
    position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  }

/* responsive */
@media (max-width: 767px) {
    .headerContainer {
      justify-content: space-between;
      padding: 0 20px;
    }
  
    .NavContainer {
      display: none; /* Hide the navigation menu */
    }

    .headerContainer.active .mobileNav {
        display: flex;
      }
  
    .hamburger{
        display: block;
    }
    .UserWrapper {
      display: none; /* Hide the user section */
    }
    .UserWrapper.active {
        display: none; /* Hide the user section */
      }

    .mobileNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px; /* Adjust the top position as needed */
        left: 0;
        right: 0;
        background-color: white; /* Background color for the mobile menu */
        z-index: 1;
      }
    
      .mobileNav a {
        text-decoration: none;
        color: black;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        margin: 10px 0; /* Adjust the margin as needed */
        padding: 10px;
      }
    
  }